[Desktop Entry]
Type=Application
Name=Pypredict
Version=3.3.1
GenericName=Orbit propagator
Comment=Real-time satellite tracker and orbit propagator
Terminal=false
Categories=Application;Science;DataVisualization;Engineering
StartupNotify=true
Exec=/home/jonathan/.local/bin/pypredict
Icon=/home/jonathan/.local/lib/python3.10/site-packages/pypredict/img/favicon.png